<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Logger.Path" value="logs/"/>
        <add key="Logger.FileName.Debug" value="debug"/>
        <add key="Logger.FileName.Error" value="error"/>
        <add key="Logger.FileExtension" value=".log"/>
        <add key="Screen.Width" value="1280"/>
        <add key="Screen.Height" value="720"/>
        <add key="Game.Name" value="双人贪吃蛇"/>
        <add key="Game.Version" value="V0.1 Alpha"/>
    </appSettings>
</configuration>